<img class="logo" src="../../assets/images/losrealeschampions.png" alt="">

<main>
  <h4 class="heading">Book an appoinment with any of our skilled barbers</h4>

  <hr>
  
  <section >
    <img class="barber_img" src="../../assets/images/Rony.png" alt="">
    
    <div>
      <h3 class="barber_heading center">Rony Marine</h3>

      <p class=" barber_text center ">
          Lorem ipsum dolor sit amet, eum oporteat rationibus eu, 
          ne sit tantas consul persius. Quo et dictas dolorum urbanitas, 
          sea nostro timeam persequeris ei. Lorem ipsum dolor sit amet, eum oporteat 
          rationibus eu, ne sit tantas consul persius. Quo et dictas dolorum urbanitas, 
          sea nostro timeam persequeris ei.Lorem ipsum dolor sit amet, 
          eum oporteat rationibus eu, ne sit tantas consul persius.
           Quo et dictas dolorum urbanitas, sea nostro timeam persequeris ei.
      </p>

      <a href="https://the-cut.app.link/5IMMXusiSS?_p=f053265bf629c265609d087a2e" target="_blank">
        
        <button type="button" class=" book_btn btn btn-primary">Book with Rony</button>
      
      </a>
      <button type="button" class=" follow_btn btn btn-primary">Follow Rony on IG</button>
      
      
    </div>
    
  </section>
  
  <hr>
  
  <section >
    <img class="barber_img" src="../../assets/images/Darian.png" alt="">
    
    <div>
      <h3 class="barber_heading center">Darian Caceres</h3>
      
      <p class=" barber_text center ">
        Lorem ipsum dolor sit amet, eum oporteat rationibus eu, 
        ne sit tantas consul persius. Quo et dictas dolorum urbanitas, 
        sea nostro timeam persequeris ei. Lorem ipsum dolor sit amet, eum oporteat 
        rationibus eu, ne sit tantas consul persius. Quo et dictas dolorum urbanitas, 
        sea nostro timeam persequeris ei.Lorem ipsum dolor sit amet, 
        eum oporteat rationibus eu, ne sit tantas consul persius.
        Quo et dictas dolorum urbanitas, sea nostro timeam persequeris ei.
      </p>

      <a href="https://the-cut.app.link/5IMMXusiSS?_p=f053265bf629c265609d087a2e" target="_blank">
        <button type="button" class=" book_btn btn btn-primary">Book with Darian</button>
      
      </a>
      
      <button type="button" class=" follow_btn btn btn-primary">Follow Darian on IG</button>
      
      
    </div>
    
  </section>
  
  <hr>
  
  <section >
    <img class="barber_img" src="../../assets/images/AB.png" alt="">
    
    <div>
      <h3 class="barber_heading center">Abraham Oliveras</h3>
      
      <p class=" barber_text center ">
        Lorem ipsum dolor sit amet, eum oporteat rationibus eu, 
        ne sit tantas consul persius. Quo et dictas dolorum urbanitas, 
        sea nostro timeam persequeris ei. Lorem ipsum dolor sit amet, eum oporteat 
        rationibus eu, ne sit tantas consul persius. Quo et dictas dolorum urbanitas, 
        sea nostro timeam persequeris ei.Lorem ipsum dolor sit amet, 
        eum oporteat rationibus eu, ne sit tantas consul persius.
        Quo et dictas dolorum urbanitas, sea nostro timeam persequeris ei.
      </p>
    </div>
    
    <a href="https://the-cut.app.link/5IMMXusiSS?_p=f053265bf629c265609d087a2e" target="_blank">
      <button type="button" class=" book_btn btn btn-primary">Book with Abraham</button>
    </a>
    <button type="button" class=" follow_btn btn btn-primary">Follow Abraham on IG</button>
    
    
  </section>

</main>