
<img class="logo" src="../../assets/images/losrealeschampions.png" alt="">
<h4 class="heading">Gallery</h4>

<hr>

<div class="container">
  <!-- <img class="image" src="../../assets/images/cutDarian.png" alt="">
  <img class="image" src="../../assets/images/beardRony.png" alt="">
  <img class="image" src="../../assets/images/DesignAB.png" alt=""> -->

  <div class="img" style="background-image:url('../../assets/images/cutDarian.png');"></div>
  <div class="img" style="background-image:url('../../assets/images/beardRony.png');"></div>
  <div class="img" style="background-image:url('../../assets/images/DesignAB.png');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut1.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut2.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut3.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut4.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut5.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut6.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut7.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut8.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut9.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut10.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut11.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut12.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut13.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut14.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut15.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut16.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut17.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut18.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut19.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut20.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut21.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut22.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut23.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut24.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut25.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut26.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut27.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut28.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut29.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut30.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut31.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut32.JPG');"></div>
</div>

