
<img class="logo" src="../../assets/images/losrealeschampions.png" alt="">
<h4 class="heading">Gallery</h4>

<hr>

<div class="container">
  <!-- <img class="image" src="../../assets/images/cutDarian.png" alt="">
  <img class="image" src="../../assets/images/beardRony.png" alt="">
  <img class="image" src="../../assets/images/DesignAB.png" alt=""> -->

  <div class="img" style="background-image:url('../../assets/images/cutDarian.png');"></div>
  <div class="img" style="background-image:url('../../assets/images/beardRony.png');"></div>
  <div class="img" style="background-image:url('../../assets/images/DesignAB.png');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut1.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut2.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut3.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut4.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut5.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut6.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut7.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut8.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut9.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut10.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut11.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut12.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut13.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut14.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut15.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut16.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut17.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut18.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut19.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut20.JPG');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut21.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut22.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut23.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut24.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut25.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut26.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut27.jpg');"></div>
  <div class="img" style="background-image:url('../../assets/images/haircuts/cut28.jpg');"></div>
</div>

