.home_heading, .home_heading:active, .home_heading:hover {
    font-size: 2rem;
    text-decoration: none;
}



.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black!important;
}

.navbar-light .navbar-nav .nav-link {
    color: white!important;
    border-top: white solid 1px;
    font-size: 1.3rem;

}

.burger {
    color: white;
    outline: none;
    border: none;
    font-size: 2rem;
}

a {
    color: white;
}

.map {
    margin: 0 auto;
    display: block;
}

footer {
    background: #424242;
    padding: 30px 0;
}

footer h4, footer p {
    text-align: center;
}

.address_heading {
    margin-top: 20px;
}

.follow_us {
    font-size: 3rem;
}

.social_div {
    display: flex;
    justify-content: center;
}

.social_div i {
    margin: 0 20px;
}

.footer_footer {
    background: #1A1919;
    text-align: center;
}

.author {
    color: #ed1e30;
}



.hidden {
    display: none;
}

@media only screen and (min-width: 768px) {
    .inner_footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        max-width: 800px;
        margin: 0 auto;
    }



}

@media only screen and (min-width: 1024px) {
    .collapse {
        width: 600px;
        flex-grow: unset;
    }

    .navbar-light .navbar-nav .nav-link{
        border: none;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #ed1e30!important;
    }

    


}

